@font-face {
    font-family: 'TT Lakes-Regular';
    src: url(Font/TTLakes-Regular.woff);
    font-style: normal;
    }

    @font-face {
        font-family:'TT Lakes-Bold';
        src: url(Font/TTLakes-Bold.woff);
    }

body{
    display: flexbox;
    width: 100%;
    font-family:'TT Lakes-Regular';
}

.navigation{
    display: flex;
    /* width: 320px; */
    border-color: #80949F;
    justify-content:space-evenly;
}

.navigation__icon{
    display: flex;
    width: 40px;
    height: 40px;
    padding-bottom: 24px;
    padding-top: 24px;
}

.navigation__icon--main{
    display: flex;
    width: 96.55px;
    height: 50.81px;
    padding-top: 18.59px;
    padding-bottom: 18.59px;
}

/* .navigation__item--minor1{
    display: flex;
    width: 2px;
    height: 32px;
    padding-bottom: 28px;
    padding-top: 28px;
}*/


main{
    /* width: 320px; */
    width: 100%;
    height: 509px;
    background-color: #F8F8F8;
}

.title{
    display:flex;
    align-items: center;
    width: 304px;
    height: 40px;
    padding-top:24px;
    padding-bottom:24px ;
}

h1{
    font-family: 'TT Lakes-Bold';
    font-size: 28px;
    color: #1B1C21;
    padding-left: 12px;
}

.menu{
    display:flex;
    height: 40px;
    width: 504px;
    padding-left: 16px;
    font-size: 16px;
    color: #7E7E82;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    flex-wrap: nowrap;
    white-space: nowrap;
}

.menu__item{
    display:flex;
    height: 40px;
    padding-left: 16px;
    font-weight: 500;
    align-items: center;
}

.description{
    display: flex;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    font-weight: 400;
    flex-direction: column;
}


.description__part--first{
    width: 288px;
    height: 90px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-top: 24px;
}

.more{
    display: flex;
    align-items: center;
    padding-left: 16px;
    padding-bottom: 16px;
}

.extra{
    padding-left: 8px;
    font-weight: 500;
    font-size: 16px; 
}

.background{
    width: 320px;
    height: 176px;
}

    .navigation__icon--hidden,
    .repair,
    .checkstatus,
    .repair__icon--hidden,
    .checkstatus__icon--hidden,
    .description__part--second
     {
        display: none;

    }



@media (min-width: 768px) {
  
    .navigation {
    display: flex;
    justify-content: space-evenly;
    width: 740px;
}
   
   .navigation__icon{
    display:flex;
    padding-left: 16px;
    }
    
    .navigation__icon--main{
    padding-right: 250.73px;
   }

   main{
    width: 769px;
    height: 416px;
   }

   .title{
    padding-bottom:32px;
   }
   
   .menu{
    padding-left: 24px;
   }
   
   .menu__item{
    display: inline-flex;
   }

.description{
    display: flex;
}

.description__part--first{
    display: flex;
    width: 312px;
    padding-left: 16px;
    padding-right: 16px;
    margin:0;

}

.description__part--second{
    display:flex;
    width: 312px;
    padding-left: 16px;
    padding-right: 16px;
    margin:0;
}

.background{
    display:flex;
    flex-direction:row;
}

}

@media(min-width:1120px) {
    
    .navigation{
        display: none;
    }

   main{
    width: 1120px;
    height: 535px;
   }

   .description__part{
    width: 490px;
   }

   .title{
    display: flex;
   }


    .menu{
        overflow-x: visible;
        justify-content: center;
    }
}