@font-face {
    font-family: 'TT Lakes-Regular';
    src: url(Font/TTLakes-Regular.woff);
    font-style: normal;
    }

    @font-face {
        font-family:'TT Lakes-Bold';
        src: url(Font/TTLakes-Bold.woff);
    }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    font-family:'TT Lakes-Regular';
}

.navigation{
    display: flex;
    width: 100%;
    border-color: #80949F;
    padding-bottom: 24px;
    padding-top: 24px;
    gap: 16px;
    justify-content:space-between;
} 

.navigation-left{
    display: flex;
    gap:16px;
    align-items: center;
}

.navigation-right{
    display: flex;
    gap:16px;
    align-items:center;
    
}

.navigation__icon{
    display: flex;
    width: 40px;
    height: 40px;
    margin-left: 16px;
    margin-right: 16px;
    
}

.navigation__icon--main{
    display: flex;
    width: 96.55px;
    height: 50.81px;
} 

main{
    width: 100%;
    background-color: #F8F8F8;
}

.title{
    display:flex;
    align-items: center;
    padding-top:24px;
    padding-bottom:24px ;
}

h1{
    font-family: 'TT Lakes-Bold';
    font-size: 28px;
    color: #1B1C21;
    padding-left: 12px;
}

.menu{
    display:flex;
    width: 100%;
    padding-left: 16px;
    font-size: 16px;
    color: #7E7E82;
    overflow-x:auto;
    scrollbar-width: none;
    white-space: nowrap;
}

.menu__item{
    display:flex;
    height: 40px;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: 500;
    align-items: center;
}

.menu__item:hover{
    border: 2px solid;
    border-color: #B8FFEC;
    border-radius: 5px;
}

.text{
    display: flex;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    font-weight: 400;
    flex-direction: column;
    padding-left: 16px;
}


.text__part--first{
    width: 100%;
    height: 100%;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-top: 24px;
}

.more{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.extra{
    padding-left: 8px;
    font-weight:500;
    font-size: 16px; 
}

.banner{
    display: flex;
    width: 100%;
}

    .navigation__icon--hidden,
    .repair,
    .checkstatus,
    .repair__icon--hidden,
    .checkstatus__icon--hidden,
    .text__part--second,
    .text__part--second--hidden
    
     {
        display: none;

    }



@media (min-width: 768px) {
    
.navigation{
        display: flex;
        justify-content: space-between;
    }

.navigation__icon{
        display: flex;
        width: 100%;
    }

.navigation__icon--main{
        /* margin-right: 250.73px; */
}

main{
    width: 100%;
}
    
.description{
    display: flex;
    
}

.text__part--second{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.description__left{
    display: flex;
    flex-direction: column;
}
.more{
    margin-top: 10px;
    align-items: center;
}

.banner{
    text-align: right;
}

.text__part--second--hidden{
    display: none;
}

}



@media(min-width:1120px) {
    
.navigation{
    display: none;
}


.text__part--second--hidden{
    display: flex;
}   

.menu{
flex-wrap: wrap;
}

.desktop{
    display: flex;
}

.repair{
    display: flex;
    margin: auto;
}
.repair__icon--hidden{
    display: flex;
}
.checkstatus{
    display: flex;
    align-items: center;
    margin: auto;
}
.checkstatus__icon--hidden{
    display: flex;
}

.banner{
    margin-top: auto;
}

}